<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
        
    body
        h2 Reestablecer Password
        p Hola, has solicitado restablecer tu password, click en el siguiente enlace para restablecerlo
        a(href =`${resetUrl}`) Ir a resetear el password
        p Si no puedes acceder al enlace visita #{resetUrl}
        p Si no solicitaste este mail, puedes ignorarlo